.button {
    border: none;
    outline: none;
    padding: 0.3rem 0.6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 1ch;
    font-size: var(--font-size-400);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.25s ease-in;
    border-radius: 0.3rem;

    &.solid {
        background-color: var(--bg-color);
        color: var(--color);

        &:hover {
            background-color: var(--bg-color-hover);
        }

        &.gray {
            --bg-color: var(--color-gray-400);
            --color: var(--color-white);
            --bg-color-hover: var(--color-gray-600);
        }

        &.primary {
            --bg-color: var(--color-primary);
            --color: var(--color-primary-contrust);
            --bg-color-hover: var(--color-primary-hover);
        }

      
    }
    &.outlined {
            background-color: var(--bg-color);
            color: var(--color);
            border: 1px solid var(--border-color);

            &:hover {
                background-color: var(--bg-color-hover);
                color: var(--color-hover);
            }

            &.gray {
                --bg-color: var(--color-gray-100);
                --color: var(--color-text);
                --bg-color-hover: var(--color-gray-300);
                --border-color :  var(--color-gray-300);
            }

            &.primary {
                --bg-color: var(--color-white);
                --color: var(--color-primary);
                --bg-color-hover: var(--color-primary-fade);
                --color-hover : var(--color-white);
                --border-color :  var(--color-primary-fade);
            }

        }
}