.board {
    display: grid;
    grid-template-rows: auto 1fr;
    min-block-size: 100%;
    .toolbar {
        inline-size: 100%;
        border-radius: 0.6rem;
        padding: 0.5rem 0.8rem;
        background-color: var(--color-surface--2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .title {
            font-size: var(--font-size-400);
            
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 1ch;
                
            
            .spacer{
                display: flex;
                align-items: center;
                gap: 0.6rem;
            }
        }
    }

    .lists {
        display: flex;
        column-gap: 2rem;
        align-items: start;
        /* min-block-size: 100dvh; */
        block-size: 100vh;
        overflow: auto;
        margin-block-start: 2rem;
        padding-block-end: 3rem;
        >li{
            block-size: 100%;     
        }
    }
}