.board {
    display: grid;
    grid-template-rows: auto 1fr;
    min-block-size: 100%;
    .toolbar {
        inline-size: 100%;
        border-radius: 0.6rem;
        padding: 0.5rem 0.8rem;
        background-color: var(--color-surface--2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .title {
            font-size: var(--font-size-400);
            
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 1ch;
            
        }
    }

    .lists {
        display: flex;
        column-gap: 2rem;
        align-items: center;
        min-block-size: 100%;
        overflow: auto;
        margin-block-start: 1.5rem;
        padding-block-end: 1rem;
        >li{
             .list{
                background-color: var(--color-surface--2);
                padding: 1rem 0.6rem;
                border-radius: 0.4rem;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
                display: grid;
                grid-template-rows: auto minmax(0 , 1fr);
                max-block-size: 100%;
                inline-size: 20rem;


                .header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;
                    margin-block-end: 1rem;
                    .title{}
                    
                }
                .items{
                    display: grid;
                    row-gap: 0.8rem;
                    block-size: 100%;
                    overflow: auto;
                    >li{
                        .item{
                            padding: 0.5rem 0.7rem;
                            border-radius: 0.5rem;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                            background-color: var(--color-surface--3);
                            font-size: var(--font-size-300);
                            transition: all 0.25s ease;
                            cursor: pointer;

                            
                        }
                    }
                }
             }   
        }
    }
}