.error-page{
    display: grid;
    align-content: center;
    justify-items: center;
    block-size: 100dvh;
    block-size: 100vh;

    h2{
        font-size: var(--font-size-800);
    }
    a{
        color: var(--color-primary);
        transition: all 0.25s ease-in;
        &:hover{
            color: var(--color-primary-hover);
        }
    }
}