* , *::before , *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

button, input , textarea , select {
    font-family: inherit;
}

body{
    font-family: "Vazirmatn", sans-serif; ;
    inline-size: min(100% - 2rem, 75rem);
    margin-inline: auto;
    background-color: var(--color-surface--2);
    color: var(--color-text);
    font-size: var(--font-size-500);
    
}

.gray{
    --main-color : var(--color-gray-500)
}
.blue{
    --main-color : var(--color-blue-500)
}
.yellow{
    --main-color : var(--color-yellow-500)
}