.home-page{
        display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;

    main {
        margin-block: 1rem;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .title {
                font-weight: bold;
                font-family: "lalezar";
            }

          
        }

        .main {
            .boards {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
                gap: 2rem;

                >li {
                  
                }
            }
        }
    }

}